

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.container{
	width:100%;
	height:100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.form-wrapper{
	display:flex;
	flex-direction: column;
  align-items:center;
  justify-content: center;
	width:25%;
	height:60%;
	background:linear-gradient(rgba(255,255,255,0.0),rgba(255,255,255,0.1));
	border:2px solid rgba(255,255,255,0.10);
	backdrop-filter: blur(30px);
	box-shadow:0 0 1em cyan,0 0 2em cyan;
	position:relative;
	border-radius: 10px;



}

.heading{
	color:black;
	font-size:2.5rem;
	text-align: center;



}
.input-group{
	width:90%;
	padding:0 20px;
	gap:40px;
	position:relative;
}

input[type="text"],input[type="password"]{
	width:100%;
	border:none;
	margin: 40px;
	outline:none;
	border-bottom:4px solid black;
	background: transparent;
	font-size: 1.3rem;
	caret-color:violet;
	position:relative;
	right:20px;
	color:black;
	
}

.input-group .label1{
	font-size:1.2rem;
	color:black;
	position:absolute;
	top:40px;
	left:45px;

	
}

.input-group .label2{
	font-size:1.2rem;
	color:black;
	position:absolute;
	top:150px;
	left:45px;

	
}



.forgot-pass{
	font-size: 1rem;
	color:black;
	position:relative;
	left:50px;
	bottom:10px;
}

input[type="submit"]{
	padding:5px 130px;
	font-size: 1rem;
	border-radius: 30px;
	position:relative;
	left:37px;
	top:10px;
}
input[type="submit"]:hover{
	background: cyan;
	transition: 1s;
	transition-delay: 0.2s;
	box-shadow: 0 0 0.5em cyan,0 0 1em cyan,0 0 1.2em cyan;
}

.signuplink{
	font-size: 1rem;
	color:blue;
	position:relative;
	left:47px;
	top:27px;
}
span{
	font-size: 1rem;
	position:relative;
	left:47px;
	top:27px;
}





input[type="text"]:hover ~ .label1,input[type="text"]:valid ~ .label1{
	top:14px;
 
}

input[type="password"]:hover ~ .label2,input[type="password"]:valid ~ .label2{
 top:120px;
}


